body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
    color: black;
  }

/* Navbar */

#logo {
    width: 9rem;
    height: 5.5rem;
}

.navbar {
    padding-inline: 7.5rem;
    padding-bottom: 1rem;
}

.navbar-brand {
    font-size: 1.7rem;
}

.navbar-collapse {
    align-items: center;
    justify-content: flex-end;
}

.nav-link {
    font-size: 1.5rem;
}

#comprartick {
    color: rgb(34, 146, 59);
}

#comprartick:active {
    color: rgb(24, 104, 41);
}

@media screen and (max-width: 1199px) {

    #logo {
        display: none;
    }
    .navbar-brand {
        display: none;
    }

}


  /* Cajas descuentos */

#div-descuentos {
    margin-top: 30px;
    width: 780px;
}

.caja {
    width: 250px;
    height: 230px;
    text-align: center;
    background: white;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 1px;
    margin: 0 3px 0 3px;
    }

#documentacion {
    font-size: 1rem;
    color: rgb(94, 93, 93);
}

#porcentaje {
    font-size: 1.2rem;
}

#caja-junior {
    border: 2px rgb(230, 215, 11) solid;
}

#caja-trainee {
    border: 2px rgb(65, 143, 97) solid;
}

#caja-estudiante {
    border: 2px rgb(11, 96, 165) solid;
}

/* Formulario */

#div-venta {
    height: 20px;
    margin-top: 10px;
    padding: 0;
}

.cajaform {
    width: 790px;
}

#email-input {
    margin-top: 15px;
}

#cantidad-label,
#descuento-label {
    margin-top: 15px;
    margin-bottom: 0px;
}

#cartel-total {
    margin-top: 30px;
}

#botoncito-resumen, #botoncito-borrar {
    margin-top: 18px;
    margin-bottom: 20px;
    background-color: rgb(151, 201, 62);
    border-color:rgb(151, 201, 62);
}

#botoncito-resumen:active, #botoncito-borrar:active {
    background-color: rgb(128, 170, 55);
    border-color:rgb(128, 170, 55);
}
/* Footer */

#footer {
    background-image: linear-gradient(to right, rgb(26, 63, 85), rgb(37, 86, 114));
    height: 120px;
    padding-inline: 200px;
}

.footer-link {
    font-size: 1.2rem;
}

/* #div-nombre-apellido {
    width: 750px;
    height: auto;
    padding: 0px;
    margin: 0;
    background-color: aqua;
}

#div-cantidad-descuento {
    width: 750px;
    height: 200px;
    padding: 0;
    margin: 0;
    background-color: white;  
}
#nombre-input {
    width: 370px;
    margin-right: 2px;
}

#apellido-input {
    width: 370px;
    margin-left: 2px;
}

#cantidad-input {
    display: inline-flex;
    height: 40px;
    width: 320px;
    margin-right: 2px;
}

#descuento-input {
    display: inline-flex;
    height: 41px;
    width: 320px;
    margin-right: 2px;
} */
